/* General styling */
.modal{
    position: fixed;
    top: 20%;
    right: 10%;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    max-width: 600px;
    left: 30%;
}
.modal-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  height: 100% !important;
}
.modal-content{
    z-index: 99999;
}
body{
    font-size: 15px;
    padding-top: 80px !important;
    padding-bottom: 0 !important;
    margin-left: 0;
    margin-top: 0;
}
.modal .btn{
    line-height: .9;
}

.fixFirefoxSizing{
    transform: none;
    transform-origin: 0;
}
.fixFirefoxSizing *, .fixFirefoxSizing .navbar *{
    font-size: 97%;
}
.fixFirefoxSizing .search-query{
    margin-bottom: 0;
    height: 25px !important;
}
.fixFirefoxSizing .dropdown-menu li{
    max-height: 28px;
}
.fixFirefoxSizing .mega-menu li{
    max-height: initial;
}
.fixFirefoxSizing select, .fixFirefoxSizing input{
    max-height: 27px;
}
.fixFirefoxSizing select{
    border: 1px solid #B1B0B0;
}
.fixFirefoxSizing .pagination ul li > a{
    font-size: 13px;
    padding-top: 0;
}
.fixFirefoxSizing .pagination ul li.previous > a, .fixFirefoxSizing .pagination ul li.next > a, .fixFirefoxSizing .pagination ul li.previous > span, .fixFirefoxSizing .pagination ul li.next > span{
    padding: 7px 17px;
    height: 32px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
.fixFirefoxSizing .pagination ul{
    max-height: 33px;
}
.fixFirefoxSizing .pagination ul li > a, .pagination ul li > span{
    margin: 5px 2px 6px;
}
.fixFirefoxSizing table input[type="text"]{
    max-height: 22px;
}
.fixFirefoxSizing .sidebar-nav li{
    padding: 2px;
}
.fixFirefoxSizing .container{
    width: 970px;
}
.fixFirefoxSizing h1, .h1{
    font-size: 34px;
}
.fixFirefoxSizing h2, .h2{
    font-size: 29px;
}
.fixFirefoxSizing h3, .h3{
    font-size: 24px;
}
.fixFirefoxSizing h4, .h4{
    font-size: 19px;
}
.fixFirefoxSizing h5, .h5{
    font-size: 18px;
}
.fixFirefoxSizing h6, .h6{
    font-size: 17px;
}
.fixFirefoxSizing .table-condensed > thead > tr > th{
    padding: 6px;
}
.fixFirefoxSizing .navbar-brand{
    line-height: 0.9em;
}
body.fixFirefoxSizing input[type="text"]{
    font-size: 13px;
}
.fixFirefoxSizing .sidebar-nav li a, .fixFirefoxSizing .sidebar-nav a{
    font-size: 13px;
}


.removeTransform{
    transform: none;
    transform-origin: 0;
}
body input[type=text]{
    border: 2px solid #bdc3c7;
    color: #34495e !important;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.467;
    padding: 6px 10px;
    height: 35px;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;        
}
body input[type=text]:focus{
    border-color: #5D88B3 !important;
    color: #5D88B3 !important
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Navbar */
.navbar{
    margin-bottom: 0;
    min-height: 30px;
    border-radius: 0;
}
.navbar .nav > li{
    float: left; 
}
.navbar .nav > li a{
    color: #ffffff;
}
.navbar .nav > li a .caret{
    border-bottom-color: #fff;
    border-top-color: #fff;
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus, .navbar .nav > li a:active{
    color: #bdc3c7;
    background-color: transparent;
}
.dropdown-toggle:hover .caret, .dropdown-toggle:focus .caret{
    border-bottom-color: #bdc3c7 !important;
    border-top-color: #bdc3c7 !important;
}
.nav>li>a, .navbar-brand{
    padding: 0px 15px;
    max-height: 30px;
}
.navbar-form{
    padding-bottom: 0;
}
.search-query{
    margin-bottom: 7px;
    height: 30px !important;
}
.nav a{
    font-size: 15px;
}
.fixFirefoxSizing .navbar-brand, .navbar-brand{
    font-size: 21px;
}
.sidebar-nav{
    box-shadow: inset 0 0 0 rgba(0,0,0,.05);
    padding: 10px;
    background: #95A5A6;
    border-radius: 0;
}
.sidebar-nav li a, .sidebar-nav a{
    color: #fff;
    display: block;
    font-size: 14px;
}
.sidebar-nav li:hover, .nav-page-active, .sidebar-nav p:hover{
    color: #fff;
    background: #34495E;
    border-left: 4px solid #5D88B3;
}
.sidebar-nav li, .sidebar-nav p{
    list-style: none;
    border-bottom: 1px solid #95A5A6;
    padding: 4px;
}
.sidebar-nav p{
    margin-bottom: 0;
    padding: 2px;
}
.open > .dropdown-menu{
    background-color: #34495e;
    padding: 3px 4px;
    margin-top: 27px !important;
}
.dropdown-menu{
    border-radius: 4px;
}
.dropdown-menu ul{
    min-width: 172px;
    padding-left: 0;
    list-style: none;
}
.dropdown-menu li{
    height: 32px;
    padding-top: 3px;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
    border-radius: 4px;
}
.dropdown-menu li:first-child > a{
    padding-top: 3px;
}
.dropdown-menu li a{
    color: #e1e4e7 !important;
    border-radius: 4px;
    padding: 1px 9px;
    font-size: 14px;
    display: block;
}
.fixFirefoxSizing .dropdown-menu li a{
    font-size: 12px;
}
.dropdown-menu li:hover{
    background-color: #717577;
}
.dropdown-menu li:hover a{
    color: #ffffff !important;
}
.nav-header, .nav-header:hover{
        margin-left: 5px;
    color: #fff;
    background-color: transparent !important;
}
.nav > li > a{
    border-right: 1px solid rgb(120, 118, 118);
}
.navbar-brand{
    line-height: 1.1em;
    padding-left: 8px;
}
.divider{
    background-color: #2f4154 !important;
    height: 2px;
    margin-left: -4px;
    margin-right: -4px;
}
.dropdown.open .dropdown-toggle{
    color: #bdc3c7 !important;
}
.dropdown.open .caret{
    border-bottom-color: #bdc3c7 !important;
    border-top-color: #bdc3c7 !important;
}

/* Breadcrumb */
.fixFirefoxSizing .fui-arrow-right, .fui-arrow-right{
    font-size: 12px;
    margin: 0 4px;
}

/* Tables */
.table-bordered{
    border-collapse: separate;
    border-radius: 4px;
}
.table-condensed>thead>tr>th{
    padding: 8px;
}
table input[type=text]{
    border-radius: 0 !important;
    border: 1px solid #bdc3c7 !important;
    height: 25px !important;
}
table thead {
    background: #5D88B3;
    color: #fff;
}
.dataTables_wrapper table.table thead .sorting_asc{
    background: url('/jslib/old/datatables/images/white-theme/sort_asc.png') no-repeat center right;
}
.dataTables_wrapper table.table thead .sorting_desc{
    background: url('/jslib/old/datatables/images/white-theme/sort_desc.png') no-repeat center right;
}
div.dataTables_length select{
    border-radius: 4px;
    height: 35px;
}
.pagination ul li > a, .pagination ul li > span, .pagination ul li.active > a:hover{
    color: #34495e;
}
.pagination ul li > a:hover, .pagination ul li > span:hover{
    color: #fff;
}
.previous.disabled a:hover, .next.disabled a:hover, .previous.disabled a:focus, .next.disabled a:focus, .previous.disabled a:active, .next.disabled a:active{
    background: #d6dbdf;
    color: #34495e;
    cursor: default;
}
.flatTheme .dataTables_wrapper.form-inline{
    width: 100%;
}
.flatTheme .dataTables_wrapper table{
    margin-left: 0;
}

/* Api Page */
.swagger-section .swagger-ui-wrap table thead tr th{
    color: #fff !important;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2{
    margin: 0;
}
.fixFirefoxSizing .swagger-section .swagger-ui-wrap p, .swagger-section .swagger-ui-wrap p{
    font-size: 13px;
}

/* Explorer Page */
.elfinder .elfinder-button{
    width: 25px !important;
}

/* Edit Page */
.cm-s-monokai.CodeMirror{
    background: #34495e !important;
}
/* Mega menu */
.dropdown-menu:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-bottom: 15px solid #34495E;
    position: absolute;
    top: -12px;
    z-index: 100;
    left: 30px;
}
.mega-menu{
    /*min-width: 400px !important;*/
}
.dropdown-menu.mega-menu li{
    height: initial;
}
.mega-menu ul{
    background-color: #34495e;
}
.dropdown-menu.mega-menu li:hover, .dropdown-menu.mega-menu .dropdown-header:hover{
    background-color: initial;
}
.mega-menu .mega-menu-column li:hover{
    background-color: #717577;
}
.mega-menu .mega-menu-column li{
  /*max-height: 31px;*/
}
.mega-menu-column ul{
    border-right: 1px solid rgb(94, 94, 94);
    padding-right: 20px;
    margin-bottom: 13px;
}
.mega-menu-column:last-child ul{
    border-right: 0;
}
.dropdown-menu.mega-menu .dropdown-header{
    padding: initial;
    color: #fff;
    font-weight: bold;
    font-size: 96%;
    border-bottom: 1px solid gray;
    border-radius: 0;
    padding-bottom: 8px;
    margin-right: 60px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.fixFirefoxSizing .bootstrap-datetimepicker-widget .table-condensed > thead > tr > th{
    padding: 2px;
}
.fixFirefoxSizing td {
    font-size: 12px;
}
select{
    -webkit-appearance: menulist !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #5D88B3 !important;
    border-color: #5D88B3 !important;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
    color: #34495E;
}
.btn-default{
    color: #000 !important;
}
table.table{
    margin-left: 15px !important;
}
.checkbox input, .radio input{
    display: inline;
}
a{
    color: #5D88B3;
}
a:hover, a:active, a:focus{
    color: #5dade2;
}
.pagination ul li > a:hover, .pagination ul li > span:hover, .pagination ul li > a:focus, .pagination ul li > span:focus, .pagination ul li.active > a, .pagination ul li.active > span{
    background-color: #5D88B3;
    border-color: #5D88B3;
}
.btn-primary{
    background-color: #5D88B3;
}
.btn-primary:hover{
    background-color: #5dade2;
}
.title span{
    color: #34495e !important;
}
.navbar-inverse .navbar-form .form-control:focus{
    border-color: #5D88B3 !important;
    color: #5D88B3 !important;
}

/* Hamburger menu */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 16px;
    left: 7px;
    right: 7px;
    height: 2px;
    background: #000;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
}

.c-hamburger span::before {
  top: -9px;
}

.c-hamburger span::after {
  bottom: -9px;
}

.c-hamburger:hover span::before{
    top: -11px;
}
.c-hamburger:hover span::after{
    bottom: -11px;
}
.c-hamburger--htla, .c-hamburger--htla.is-active {
  background-color: #fff;
}

.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
  left: -25px;
}
.c-hamburger--htla.is-active .c-hamburger span{
    height: 6px;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(39px) translateY(1px) rotate(40deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(39px) translateY(-3px) rotate(-50deg);
}
#PortalsHamburgerMenu{
    margin-bottom: 0;
    margin-top: -5px;
}
#PortalsHamburgerMenu.white, #PortalsHamburgerMenu.dark{
    background: transparent;
}
#PortalsHamburgerMenu.white span,
#PortalsHamburgerMenu.white span::before,
#PortalsHamburgerMenu.white span::after{
    background: #fff;
}
#PortalsHamburgerMenu.dark span,
#PortalsHamburgerMenu.dark span::before,
#PortalsHamburgerMenu.dark span::after{
    background: #000;
}
.page-content .naviation{
    width: 5%;
}
.page-content .naviation.wide-sidebar{
    width: 16.66666667%;
}
.page-content .content{
    width: 95%;
}
.page-content .content.less-wide{
    width: 83.33333333%;
}
.clean-header{
    min-height: 0;
}
.portals-list{
    padding-left: 0;
    list-style: none;
}
.portals-list li{
    padding: 5px 0;
    border-bottom: 1px solid #D3DAE0;
    border-left: 4px solid transparent;
    margin-left: 5px;
}
.portals-list li:first-child{
    border-top: 1px solid #D3DAE0;
}
.portals-list li a{
    padding-left: 4px;
    display: block;
    color: #34495E;
}
.portals-list li:hover{
    border-left: 4px solid #34495E;
    background-color: #95A5A6;
}
.portals-list li:hover a{
    color: #fff;
}
.explore-portals{
    background-color: #34495E;
    color: #fff;
    padding-bottom: 12px;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 15px;
    padding-top: 9px;
}