[main]
appdir = $base/apps/portalbase

filesroot = $vardir/portal/files

#fs,mem,redis,arakoon is db which is attached to process of webserver
dbtype = redis

actors = *
webserverport = 81
pubipaddr=0.0.0.0

#leave 0 if disabled (this is like secret which gives access to all)
secret=

##authenticate params
#redis, config or empty if e.g. only the secret
#config is users.cfg 
authentication = redis

#groups which get access to admin features of portal
admingroups=admin,gridadmin,superadmin

